<mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile
        colspan="1"
        rowspan="1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>What is this project?</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    This project is made with the aim to provide an example of how one can build a web application using a SPA framework (such as <a href="https://angular.io/" target="_blank">Angular</a>) and <a href="https://github.com/tokio-rs/axum" target="_blank">Axum</a> for the API server.
                </p>

                <p>
                    It is a basic IRC-type web application, which supports creating and joining rooms, in which one can talk to multiple users at a time. History is not preserved, thus, if a user leaves the chat, the messages received up until that point will be lost.
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>How is it made?</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    The following software was used throughout the project, with the aim of being a guideline or reference to others who wish to use Axum when creating a rich web app:
                </p>

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Axum
                            </mat-panel-title>

                            <mat-panel-description>
                                The backend framework used.
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <p>
                            This is the backend framework used to create the REST API used by the frontend you are seeing now. It is highly flexible and customizable which represents great advantages. To learn more about it, please take a look at their <a href="https://github.com/tokio-rs/axum" target="_blank">GitHub repository</a> and their <a href="https://docs.rs/axum/0.4.4/axum/" target="_blank">documentation</a>.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Angular
                            </mat-panel-title>

                            <mat-panel-description>
                                The frontend framework used.
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <p>
                            This is the frontend framework used to create the UI. It is robust, mature and used by many organizations. To learn more about it, visit <a href="https://angular.io/" target="_blank">their website</a>. To help with the creation of the UI, <a href="https://material.angular.io/" target="_blank">Angular Material</a> was used.
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Docker and Docker Compose
                            </mat-panel-title>

                            <mat-panel-description>
                                The virtualization software used for development and deployment.
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <p>
                            This is used to help containerize the two services, in order to ease deployment and make testing out the product a breeze, removing the need to install all of its dependencies manually. Learn more about Docker on <a href="https://www.docker.com/" target="_blank">their website</a>.
                        </p>
                    </mat-expansion-panel>
                </mat-accordion>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
