<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile
        colspan="1"
        rowspan="1">
    </mat-grid-tile>

    <mat-grid-tile
        colspan="2"
        rowspan="1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Join a room now!</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                TODO
            </mat-card-content>

            <mat-card-actions>
                <button mat-flat-button color="primary">Join</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1">
    </mat-grid-tile>
</mat-grid-list>
