<mat-grid-list cols="4" rowHeight="300px">
    <mat-grid-tile
        colspan="1"
        rowspan="1">
    </mat-grid-tile>

    <mat-grid-tile
        colspan="2"
        rowspan="1">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Welcome to AxumSPA</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <p>
                    Here you can chat in a multitude of rooms, meet new people, discover new interests and make friends!
                </p>

                <p>
                    <a mat-flat-button color="primary" href="/join"><mat-icon>forum</mat-icon> Join a room now!</a>
                </p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile
        colspan="1"
        rowspan="1">
    </mat-grid-tile>
</mat-grid-list>
